* {
    margin: 0;
    padding: 0;
    outline: none;
}



.container {
    width: 1140px;
    margin: 0 auto;
}


@import "vars";

@import "header";

@import "footer";






.banner {
    background-color: #F1E4E6;
    height: 764px;

    .top_banner {
        display: flex;
        justify-content: space-between;

        .bannerMan {
            margin-left: -230px;
        }

        .bannerheading {
            border-left: 12px solid $pink;
            padding-left: 12px;
            float: left;
            margin-top: 290px;
            height: 93px;
            font-family: "Lato";

            .bannerTextTop {
                font-weight: 900;
                font-size: 48px;
                color: $black;
            }

            .bannerTextBottom {
                font-weight: 700;
                font-size: 32px;
                color: $black;
            }
        }
    }
}


.cards_sec {
    margin-bottom: 96px;
    position: relative;

    .fetured {
        font-family: "Lato";
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $black;
        text-align: center;
        margin-top: 90px;
    }

    .feturedShop {
        font-family: "Lato";
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        text-align: center;
        margin-top: 6px;
    }
}


.card {
    width: 360px;
    position: relative;
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.card:hover .card-pic {
    filter: brightness(30%);
}

.card:hover .add-box {
    display: flex;
}

.card-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
}

.card-link {
    display: block;
    text-decoration: none;

    .card-pic {
        width: 100%;
    }

    .text-box {
        padding: 20px;
        background-color: #F8F8F8;

        .card-name {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: $blackstrong;
            margin-bottom: 13px;
        }

        .card-desc {
            font-family: "Lato";
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;
            margin-bottom: 18px;
        }

        .card-price {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $pink;
        }
    }
}


.add-box {
    display: none;
    position: absolute;
    top: 188px;
    justify-content: center;
    width: 100%;
    pointer-events: none;

    .add {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 13px;
        border: 1px solid #FFFFFF;
        pointer-events: all;

        .add-txt {
            font-family: "Lato";
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $white;
            margin-left: 11px;
        }
    }

    .add:hover {
        box-shadow: 0 0px 10px #FFFFFF;
    }
}








.browse_all-box {
    display: flex;
    justify-content: center;
    margin-top: 18px;

    .browse_all {
        border: 1px solid #F26376;
        background-color: $white;
        text-decoration: none;

        .browse_all-txt {
            font-family: "Lato";
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #F26376;
            padding: 14px 38px;
        }
    }
}


.fashion {
    color: $pink;
}

.forPeople {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;

    .forWomen {
        position: relative;
        text-align: center;
    }

    .forMen {
        position: relative;
        text-align: center;
    }

    .forKids {
        position: relative;
        text-align: center;
    }
}

.accesories {
    margin-top: 30px;
    position: relative;
    text-align: center;

    .textAccesories {
        top: 80px;
        left: 125px;
    }
}

.textMen {
    position: absolute;
    bottom: 105px;
    right: 125px;
    color: #F1E4E6;
    height: 40px;
    font-family: "Lato";
}









.info {
    background-color: #222224;
}

.info_container {
    height: 341px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoCards {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .textHeadingInfo {
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        font-family: "Lato";
    }

    .textInfo {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        color: #FBFBFB;
        font-family: "Lato";

    }
}



.under_header {
    background-color: #F1E4E6;

}

.new_arrivals {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.p_under_header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $pink;
}

.crumb {
    font-family: 'Lato';
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.new_crumb {
    font-family: 'Lato';
    font-weight: 700;
    color: $pink;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;

}





.filter_select {
    display: flex;
    width: 1140px;
    margin-top: 51px;

}

.sumfil {
    list-style-type: none;
    width: 360px;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $blackstrong;

}

.fil_box {
    display: flex;
    justify-content: space-between;
    width: 70px;
}


.fa-solid {
    padding-top: 2px;
    background-color: $white;
    color: $blackstrong;

}



.filter_box[open] {
    width: 360px;
    background-color: $white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);


}



.filter_box[open]>summary {
    color: #EF5B70;

}

.filter_box[open] .fa-solid {
    color: #EF5B70;

}

.summary_box {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    z-index: 1;

}


.leftitem_category {
    border-left: 5px solid #F16D7F;
    border-bottom: 1px solid #EBEBEB;
    padding-left: 11px;
    padding-top: 15px;
    height: 37px;
    font-family: "Lato";

}

.text_category {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E
}

.open_category {
    width: 360px;
    padding-top: 18px;

}

.open_category[open] .text_category {
    color: #EF5B70;
}






.open_trend[open] .open_check {
    width: 132px;
    background-color: $white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    position: absolute;
}

.text_trend {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E
}


.trend_flex {
    display: flex;
    justify-content: space-between;
    width: 132px;
}

.check {
    padding-top: 10px;
}

.selector {
    padding-left: 30px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    z-index: 1;
}

.open_size {
    width: 49px;
}

.open_size[open] .open_size_check {
    width: 79px;
    background-color: $white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    position: absolute;
}

.size_flex {
    display: flex;
    justify-content: space-between;
    width: 49px;
}

.open_price {
    width: 59px;
}

.open_price[open] .open_price_check {
    width: 100px;
    background-color: $white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    position: absolute;
}

.price_flex {
    display: flex;
    justify-content: space-between;
    width: 59px;
}

.sumsel {
    list-style-type: none;
    width: 132px;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $blackstrong;

}

.fa-angle-down {
    color: #6F6E6E;
}






.carosel_woman {
    height: 777px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fa-angle-left {
        color: $blackstrong;
        padding: 13px 17px;
        font-size: 21px;
        background-color: rgba(42, 42, 42, 0.15)
    }

    .fa-angle-right {
        color: $blackstrong;
        padding: 13px 17px;
        font-size: 21px;
        background-color: rgba(42, 42, 42, 0.15)
    }

    .fa-angle-left:hover {
        color: $pink;
    }

    .fa-angle-right:hover {
        color: $pink;
    }
}




.product_info {
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;

    .women_col {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $pink;
        margin-top: 64px;

    }

    .pink_hr {
        background-color: #EF5B70;
        width: 63px;
        height: 3px;
        margin-top: 12px;
        border: none;
    }

    .cheap {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        margin-top: 12px;
        color: #4D4D4D;
    }

    .discribe {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
        margin-top: 48px;
    }

    .price {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
        margin-top: 32px;
    }

    .grey_hr {
        width: 641px;
        border: 1px solid #EAEAEA;
        margin-top: 65px;
        margin-bottom: 65px;
    }
}



.add_product_box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 65px;

    .add_product {
        display: flex;
        align-items: center;
        border: 1px solid #F26376;
        background-color: $white;
        text-decoration: none;
        padding-top: 15px;
        padding-left: 23px;
        padding-right: 56px;
        padding-bottom: 14px;

        .product-txt {
            font-family: "Lato";
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $pink;
            padding-left: 23px;
        }
    }
}

.mega_cart_box {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

.cart_box {
    width: 652px;
    display: flex;
    flex-direction: column;
}

.mango_man {
    margin-bottom: 40px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}




.cart_float {
    float: left;
}

.mini_cart_box {
    padding-left: 294px;
}

.mark_flex {
    display: flex;
    justify-content: space-between;

    .cart_heading {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $black;
        padding-top: 22px;
    }

    .fa-xmark {
        font-size: 24px;
        color: #575757;
        padding-top: 28px;
        padding-right: 22px;
    }
}

.cart_price {
    color: $pink;
}



.cart_info {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    padding-top: 44px;
}

.cart {
    padding-bottom: 6px;
}

.quantity {
    width: 44px;
    border: 1px solid #EAEAEA;
    margin-left: 24px;
    text-align: center;
    color: #656565;
}

.shopping_flex {
    width: 652px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 144px;
}



.shopping_box {
    background-color: $white;
    border: 1px solid #A4A4A4;

    .clear_cart {
        text-decoration: none;

        .clear_cart-txt {
            padding: 17px 40px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: $blackstrong;
        }
    }
}



.form_quote {
    display: flex;
    flex-direction: column;
    width: 360px;

    .shipping {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    .adress {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: $black;
        padding-left: 17px;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-top: 20px;
    }

    .quote_box {
        width: 100px;
        margin-top: 20px;
        background-color: $white;
        border: 1px solid #A4A4A4;

        .get_quote {

            text-decoration: none;

            .quote-txt {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
                padding: 9px 13px;
            }
        }
    }
}

.sub_total_flex {
    width: 108px;
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    margin-right: 34px;
}

.grand_total_flex {
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-right: 37px;
}

.sub_total {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.grand_total {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A;
}


.procced_checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 57px;
    background-color: #F5F3F3;

}

.procced_box {
    display: flex;
    align-self: center;
    margin-top: 17px;
    padding: 15px 42px;
    background-color: $pink;
    border: none;
    margin-bottom: 42px;

    .procced {
        text-decoration: none;

        .procced-txt {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: $white;
        }
    }
}

.proceed_hr {
    background-color: #E2E2E2;
    width: 275px;
    height: 1px;
    margin-top: 12px;
    border: none;
    align-self: center;
}